<nav class="navbar">
    <a href="/" class="navbar-brand">Home</a>

    <div class="navbar-menu">
        <a href="/todos" class="navbar-link">Todos</a>
        <a href="/todos/new" class="navbar-link">Add Todo</a>
    </div>
</nav>